<h1>Usuários</h1>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Descrição</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="data.length < 1">
    <h1>Adicione o primeiro usuário!</h1>

  </ng-container>
  <tr *ngFor="let user of data">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.description}}</td>
    <td>
      <a routerLink="/users/update/{{user.id}}">EDITAR</a> ||
      <a routerLink="/users/delete/{{user.id}}">DELETAR</a>
    </td>
  </tr>
  <div *ngIf="data.length >= 2">

    <button (click)="deleteAll()" class="form-button ">Deletar todos</button>
  </div>

  </tbody>
</table>
