h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  background-color: #333;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #007bff; /* Azul para links */
}

a:hover {
  text-decoration: underline;
}
