<h2 class="create-user-heading">Atualizar usuário</h2>

<form class="form-container"(ngSubmit)="update()">
  <label class="form-label">Nome:
    <input class="form-input" placeholder="Insira o nome" [(ngModel)]="user.firstName" [ngModelOptions]="{ standalone: true }">
    <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
      <p class="custom-p" *ngIf="userForm.get('firstName')?.hasError('required')">Nome obrigatório!</p>
      <p class="custom-p" *ngIf="userForm.get('firstName')?.hasError('minlength')">O nome deve ter mais de 3 caracteres</p>
    </div>
  </label>

  <label class="form-label">Sobrenome:
    <input class="form-input" placeholder="Insira a sobrenome" [(ngModel)]="user.lastName" [ngModelOptions]="{ standalone: true }">
    <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
      <p class="custom-p" *ngIf="userForm.get('lastName')?.hasError('required')">Sobrenome obrigatório!</p>
      <p class="custom-p" *ngIf="userForm.get('lastName')?.hasError('minlength')">O Sobrenome deve ter mais de 3 caracteres</p>
    </div>
  </label>

  <label class="form-label">Descrição:
    <input class="form-input" placeholder="Insira a sobrenome" [(ngModel)]="user.description" [ngModelOptions]="{ standalone: true }">
    <div *ngIf="userForm.get('description')?.invalid && userForm.get('description')?.touched">
      <p class="custom-p" *ngIf="userForm.get('description')?.hasError('required')">Descrição obrigatória!</p>
      <p class="custom-p" *ngIf="userForm.get('description')?.hasError('minlength')">A descrição deve ter mais de 3 caracteres</p>
    </div>
  </label>

  <button [disabled]="!userForm.valid">Atualizar</button>
</form>

