<div>


    <h2>Deseja remover este usuário?</h2>
    <form class="form-container" required>
      <label class="form-label">Nome:
        <strong>
          {{user.firstName}} {{user.lastName}}
        </strong>
      </label>

      <label class="form-label">Descrição:
        <strong>
          {{user.description}}
        </strong>
      </label>


      <button class="form-button" (click)="delete()">Deletar</button>
      <button class="form-button" (click)="cancel()">Cancelar</button>
    </form>

</div>
