<nav>
  <ul class="nav-list">
    <li class="nav-item"><a href="/users">Lista de usuários</a></li>
    <li class="nav-item"><a href="/users/create">Criar usuário</a></li>
  </ul>
</nav>

<script>
  var userId = your_user_id || null; // Replace your_user_id with your own if available.
  window.hj('identify', userId, {
    // Add your own custom attributes here. Some EXAMPLES:
    // 'Signed up': '2019—06-20Z', // Signup date in ISO-8601 format.
    // 'Last purchase category': 'Electronics', // Send strings with quotes around them.
    // 'Total purchases': 15, // Send numbers without quotes.
    // 'Last purchase date': '2019-06-20Z', // Send dates in ISO-8601 format.
    // 'Last refund date': null, // Send null when no value exists for a user.
  });
</script>
<div class="content">
  <router-outlet></router-outlet>
</div>
