/* Estilos para o título "Criar usuário" */
.create-user-heading {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para o container do formulário */
.form-container {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para as etiquetas do formulário */
.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  font-size: 24px;
}

/* Estilos para as entradas do formulário */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para o botão do formulário */
.form-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o botão do formulário no hover */
.form-button:hover {
  background-color: #0056b3;
}

.custom-p{
  color: red;
  font-size: 16px;
}
