<h2 class="create-user-heading">Criar usuário</h2>


<form class="form-container">
  <label class="form-label">Nome:
    <input class="form-input" placeholder="Insira o nome" required [(ngModel)]="user.name" name="first">
  </label>
  <label class="form-label">Descrição:
    <input class="form-input" placeholder="Insira a profissão" required [(ngModel)]="user.description" name="job">
  </label>
  <button class="form-button" (click)="save()">Gravar</button>
</form>

<br>
<br>

<!--<div *ngIf="showResponse">-->
<!--  <h3>Criado com sucesso!!</h3>-->
<!--</div>-->
